.z-include {
  background: #1188cc;
}
.z-hlayout {
  background: #259ce0;
}
.z-vlayout {
  background: #39b0f4;
}
.z-hlayout .z-include {
  background: #4dc4ff;
}
.z-vlayout .z-include {
  background: #61d8ff;
}
